@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-cover {
  background-image: url("assets/sunset.jpg");
  background-size: cover;
  background-position: center;
  object-fit: cover;
  /* Atur ukuran dan posisi gambar latar belakang sesuai kebutuhan Anda */
}
